
.ui_logowrapper{
    max-width: 150px;
}

header .nav-link:hover, header .nav-link:focus{
    color: var(--hoverColor);
}

.dropdown-item{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 0.875rem;
}


header .nav-link{
    color: var(--headerTextColor);
    font-weight: 500;
}



.langSwitch {
    position: absolute;
    display: inline-flex;
    align-items: center;
    width: 100px;
    height: 30px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 50px;
    background: #f9f9f9;
    overflow: hidden;
    right: 150px;
}

.langSwitch input[type="radio"] {
    display: none;
}

.langSwitch label {
    flex: 1;
    height: auto;
    min-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: var(--textColor);
    transition: color 0.3s ease;
    font-family: inherit;
    top: 0px;
    line-height: 1;
}

.langSwitch input[type="radio"]:checked + label {
    color: #fff;
}

.lanSwtichSlider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(50% - 2px);
    height: calc(100% - 4px);
    background: #111;
    border-radius: 50px;
    transition: transform 0.3s ease;
    z-index: 1;
}

/* ENG selected */
#engSwitch:checked ~ .lanSwtichSlider {
    transform: translateX(0);
}

/* TAMIL selected */
#tamSwitch:checked ~ .lanSwtichSlider {
    transform: translateX(100%);
}

.btn-login,.btn-login:hover{
    padding: 8px 18px;
    color: #fff;
    min-width: 125px;
    text-align: center;
}

@media(min-width:992px){

}

@media(max-width:991px){
    .navbar-expand-lg .nav{
        display: flex;
        flex-direction: column;
        padding-top: 12px;
    }
    .navbar-expand-lg .dropdown-menu{
        width: 100%;
        border: unset;
        position: relative;
        background-color: inherit;
        color: inherit;
        border: unset;
        top: unset;
        left: unset;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-expand-lg .nav-link{
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-expand-lg .navbar-collapse {
        border: 1px solid #eaeaea;
        position: absolute;
        max-width: calc(100% - 25px);
        margin-left: 0;
        background: #fff;
        padding: 0 20px 15px 20px;
        box-shadow: 0 2px 5px rgb(0 0 0/ 7%);
        border-radius: 5px;
        margin-right: auto;
        width: 100%;
        top: 65px;
        z-index: 2;
        box-shadow: 0 4px 14px rgba(242, 201, 76, .35);
    }
    .btn-login{
        width: 100%;
    }
    .langSwitch{
        right: 85px;
    }
    
}

@media(max-width: 400px){
    .ui_logowrapper{
        max-width: 120px;
    }
}